@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #023047 !important;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.form-voter {
  width: 800px;
 
  padding: 15px;
  border: 2px solid #ffb703;
  border-radius: 8px;
}
.form-voter{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control {
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #ffb703;
  border-radius: 0px !important;
  color: white !important;
  
  
}
.form-control:focus{
  background-color: transparent !important;
  color: white !important;
}
.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button, a{
  background-color: #219ebc !important;
  width:3cm !important;
  color: white !important;
}

